.banner {
    background-image: url(../img/background.jpg);
    background-color: #02462c;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 100%;
    background-attachment: fixed;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 50px ;
    padding-left: 80px ;
    box-sizing: border-box;
    
}


.banner .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 600px;
        
}
.banner .box{
    margin-bottom: 20px;
}

.banner .navegation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
