.box {
    background-color: #414181;
    width: 100%;
    box-shadow: 5px 5px 0 #000;
    padding: 42px 0px;
    

}

.box title {
    margin-bottom: 28px;
}

.box:hover {
    transform: scale(01.08);
}